{% extends '@frontend/base.html.twig' %}

{% block title %}My Portfolio!{% endblock %}

{% block body %}

<!-- Single Page -->
<main class="single-page">
    <!-- Page Header -->
    <div class="page-header">
        <h2>.<span>portfolio</span></h2>
        <p> 
        Explore my showcase of some projects that reflect my journey and expertise in web development. 
        Join me on this visual journey through my professional endeavors, and feel free to reach out 
        for collaboration or just a tech-inspired conversation. Let's build something amazing together!
        </p>
    </div> 
    <!-- Page Header End -->
    <div class="separator"></div>
    <div class="portfolio-wrapper">
        <div class="row">
            <div class="col-xl-12">
                <!-- Filter Buttons -->
                <div class="button-group portfolio-btn text-right mb-40">
                    <button data-toggle="tooltip" data-placement="top" title="{{ portfolios|length }} Items" class="active pointer-href" data-filter="*">All</button>
                    <button data-toggle="tooltip" data-placement="top" title="{{ vanilla|length }} Items" class="pointer-href" data-filter=".cat1">Vanilla PHP</button>
                    <button data-toggle="tooltip" data-placement="top" title="{{ laravel|length }} Items" class="pointer-href" data-filter=".cat2">Laravel</button>
                    <button data-toggle="tooltip" data-placement="top" title="{{ symfony|length }} Items" class="pointer-href" data-filter=".cat3">Symfony</button>
                    <button data-toggle="tooltip" data-placement="top" title="{{ apis|length }} Items" class="pointer-href" data-filter=".cat4">APIs</button>
                </div> <!-- Filter Buttons End -->
            </div>
        </div>
        <!-- Portfolio Grid -->
        <div class="row grid no-gutters">

        {% if portfolios|length > 0 %}
            {% for portfolio in portfolios %}

            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 grid-item {{ portfolio.cat }}">
                <div class="portfolio-image-block">
                    <img src="{{ portfolio.image }}" alt="portfolio image">
                    <div class="portfolio-image-info">
                        <a href="{{ portfolio.image }}" class="gallery_popup pointer-open"><i class="fas fa-search"></i></a>
                        <h4 class="body-font">{{ portfolio.name }}</h4>
                    </div>
                    <div class="image-hover-btn">
                        <div class="full-view-btn">
                            <a href="/portfolio-detail/{{ portfolio.id }}" class="pointer-href">Full details</a>
                        </div>
                        <div class="load-more-btn">
                            <a href="#" class="pointer-href">Visit site</a>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        {% else %}
            <p>No blog found.</p>
        {% endif %}

        </div> 
        <!-- Portfolio Grid End -->
    </div>
</main> 
<!-- Single page end -->

{% endblock %}
