{% extends '@backend/base.html.twig' %}

{% block title %}Blog - Admin Panel!{% endblock %}

{% block body %}

<!-- begin app-main -->
<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->
        <div class="row">
            <div class="col-md-12 m-b-30">
                <!-- begin page title -->
                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                    <div class="page-title mb-2 mb-sm-0">
                        <h1>Edit Blog</h1>
                    </div>
                    <div class="ml-auto d-flex align-items-center">
                        <nav>
                            <ol class="breadcrumb p-0 m-b-0">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('app_dashboard') }}"><i class="ti ti-home"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    Blogs
                                </li>
                                <li class="breadcrumb-item active text-primary" aria-current="page">Create Blog</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end page title -->
            </div>
        </div>

        <div class="row">
            <div class="col-xxl-9 m-b-30">
                <div class="card card-statistics dating-contant h-100 mb-0">
                    <div class="card-header d-flex align-items-center justify-content-between"> <!---->
                        <h4 class="card-title">Edit your blog here</h4>
                        <div class="dropdown">
                            <a class="btn btn-secondary" href="{{ path('app_blog') }}" aria-haspopup="true" aria-expanded="false">
                                Go Back
                            </a>
                        </div>
                    </div>

                    <div class="col-xxl-4 m-b-30">
                        <div class="card card-statistics h-100 m-b-0">
                            <div class="card-header bg-gradient">
                                <div class="row align-items-center">
                                    <div class="col-12 col-sm-6">
                                        <div class="bg-img bg-img-big m-auto m-sm-0">
                                            <img class="img-fluid" src="{{ asset("backend/assets/img/avtar/10.jpg") }}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 text-center mt-3 mt-sm-0 text-sm-right">
                                        <h4 class="mb-0 text-white">Alexander Nwokorie</h4>
                                        <span class="text-white">Junior PHP Developer</span>
                                        <h5 class="mt-3 text-white mb-0"> (+234) 902 180 1802</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">

                                {{ form_errors(blogForm) }}
                                {{ form_start(blogForm) }}
                                    <div class="form-group">
                                        {{ form_row(blogForm.title, {'label': false})}}
                                    </div>
                                    <div class="form-group">
                                        {{ form_row(blogForm.image, {'value': blog.image}) }}
                                    </div>
                                    <div class="form-group"> 
                                        {{ form_row(blogForm.author, {'label': false})}}
                                    </div>
                                    <div class="form-group">
                                        {{ form_row(blogForm.brand, {'label': false})}}
                                    </div>
                                    <div class="form-group">
                                        {{ form_row(blogForm.content, {'label': false})}}
                                    </div>

                                    <button class="btn btn-outline-primary btn-block" name="submit" type="submit">Submit Request</button>
                                
                                {{ form_end(blogForm) }}
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
        <!-- end row -->
    </div>
</div>

{% endblock %}
