{% extends '@backend/base.html.twig' %}

{% block title %}Blog - Admin Panel!{% endblock %}

{% block body %}

{# Included the topbar and passed the 'mails' variable to be used inside the topbar file #}
{% include 'backend/topbar/index.html.twig' with {'mails': mails} %}

<!-- begin app-main -->
<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->
        <div class="row">
            <div class="col-md-12 m-b-30">
                <!-- begin page title -->
                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                    <div class="page-title mb-2 mb-sm-0">
                        <h1>Blogs</h1>
                    </div>
                    <div class="ml-auto d-flex align-items-center">
                        <nav>
                            <ol class="breadcrumb p-0 m-b-0">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('app_dashboard') }}"><i class="ti ti-home"></i></a>
                                </li>
                                <li class="breadcrumb-item active text-primary" aria-current="page">Blog</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end page title -->
            </div>
        </div>

        <!-- start row -->
        <div class="row">
            <div class="col-xxl-9 m-b-30">
                <div class="card card-statistics dating-contant h-100 mb-0">
                    <div class="card-header d-flex align-items-center justify-content-between"> <!---->
                        <h4 class="card-title">All my blogs</h4>
                        <div class="dropdown">
                            <a class="btn btn-primary" href="{{ path('create_blog') }}" aria-haspopup="true" aria-expanded="false">
                                Add New
                            </a>
                        </div>

                        {# Flash alerts displays #}
                        {% for type, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ type }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                    </div>
                    <div class="card-body scrollbar scroll_dark pt-0" style="max-height: 350px;">
                        <div class="datatable-wrapper table-responsive">
                            <table id="datatable" class="table table-borderless table-striped">

                                <thead>
                                    <tr>
                                        <th class="border-top-0">#</th>
                                        <th class="border-top-0">Title</th>
                                        <th class="border-top-0">Author</th>
                                        <th class="border-top-0">Brand</th>
                                        <th class="border-top-0">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="text-muted">
                                {% if blogs|length > 0 %}
                                    {% for blog in blogs %}
                                        <tr>
                                            <td>{{ blog.id }}</td>
                                            <td>
                                                <div class="bg-img">
                                                    <img class="img-fluid" src="{{ blog.image }}" alt="photo">
                                                </div>
                                                <p>{{ blog.title }}</p>
                                            </td>
                                            <td>{{ blog.author }}</td>
                                            <td>{{ blog.brand }}</td>
                                            <td>
                                                
                                                <a href="/admin/blog/edit/{{ blog.id }}" class="mr-2"><i class="fa fa-pencil" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"></i></a>
                                                <a href="/admin/blog/delete/{{ blog.id }}"><i class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"></i></a>
                                                
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <p>No blogs found.</p>
                                {% endif %}
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <!-- end row -->
        
    </div>
    <!-- end container-fluid -->
</div>
<!-- end app-main -->

{% endblock %}
