{% extends '@frontend/base.html.twig' %}

{% block title %}Hi there, Welcome!{% endblock %}

{% block body %}

<!-- Home Section -->
<main class="home-section">
    <div class="backgroundShape-right"></div>
    <div class="home-container d-flex align-items-center justify-content-center">
        <!-- Particles Animation -->
        <div id="particles-js"></div>
        <!-- Particles Animation End -->
        
        <!-- Author Name, My Name, Home Page Title -->
        <div class="home-title">
            <h3>Hello World! I’m</h3>
            <h1 class="theme-color">Alexander Nwokorie</h1>
            <h4>PHP (Laravel/Symfony) Developer!</h4>
            <div class="template-btn">
                <a href="{{ asset('certificate.pdf') }}" class="pointer-href">Endorsed</a>
                <a href="{{ asset('resume.pdf') }}" class="pointer-href" target="_blank">Download CV</a>
            </div>
        </div> 
        <!-- Author Name, My Name, Home Page Title End -->

        <!-- Dribbble Slider -->
        <div class="dribbble-btn pointer-href">
            <button data-toggle="tooltip" data-placement="left" title="Recent Dribbbles"><i class="fas fa-basketball-ball"></i></button>
        </div>
        <div class="dribbble-slider">
            <div class="dribbble-close-btn pointer-href">
                <i class="fas fa-times"></i>
            </div>
            <div class="dribbble-slider-active owl-carousel">
                <div class="slider-box d-flex align-items-center">
                    <div class="slider-text">
                        <h4 class="h4 theme-color">Code Challenge</h4>
                        <p>At least 50 lines of code to be made daily!</p>
                        <a href="#" class="read-more-btn pointer-href">Self-Motivated</a>
                    </div>
                    <div class="slider-image">
                        <img src="{{ asset("frontend/img/slider/1.jpg") }}" alt="slide image">
                    </div>
                </div>
                <div class="slider-box d-flex align-items-center">
                    <div class="slider-text">
                        <h4 class="h4 theme-color">Research</h4>
                        <p>At least 5 tech articles to be read daily!</p>
                        <a href="#" class="read-more-btn pointer-href">Self-Motivated</a>
                    </div>
                    <div class="slider-image">
                        <img src="{{ asset("frontend/img/slider/2.jpg") }}" alt="slide image">
                    </div>
                </div>
                <div class="slider-box d-flex align-items-center">
                    <div class="slider-text">
                        <h4 class="h4 theme-color">Networking</h4>
                        <p>At least 3 tech event gatherings to be attended annually!</p>
                        <a href="#" class="read-more-btn pointer-href">Self-Motivated</a>
                    </div>
                    <div class="slider-image">
                        <img src="{{ asset("frontend/img/slider/3.jpg") }}" alt="slide image">
                    </div>
                </div>
            </div>
        </div> 
        <!-- Dribbble Slider End -->
    </div>
</main> 
<!-- Home Section end -->

{% endblock %}
