{% extends '@frontend/base.html.twig' %}

{% block title %}Contact Me!{% endblock %}

{% block body %}

<!-- Single Page -->
<main class="single-page">
    <!-- Page Header -->
    <div class="page-header">
        <h2>.<span>contact</span></h2>
        <p class="contact-title-intro">Start your Journey Right Now! Please don’t hesitate to contact me for your awesome project.</p>                
    </div> <!-- Page Header End -->
    <div class="separator"></div>
    <div class="contact-header-bg">                
        <!-- Contact Information -->
        <div class="contact-info d-flex justify-content-between">
            <div class="contact-info-box">
                <div class="icon-box">
                    <span><i class="fas fa-phone-alt"></i></span>
                </div>
                <div class="text-box">
                    <a href="tel:+239021801802" class="pointer-small">+234 902 180 1802</a>
                </div>
            </div>
            <div class="contact-info-box">
                <div class="icon-box">
                    <span><i class="fas fa-paper-plane"></i></span>
                </div>
                <div class="text-box">
                    <a href="mailto:nwokoriealex20@gmail.com" class="pointer-small">nwokoriealex20@gmail.com</a>
                </div>
            </div>
            <div class="contact-info-box">
                <div class="icon-box">
                    <span><i class="fas fa-home"></i></span>
                </div>
                <div class="text-box">
                    <p>Ibadan, <br>Oyo State</p>
                </div>
            </div>
        </div> <!-- Contact Information End -->
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-6">                      
            <!-- Contact Form -->
            <div class="contact_form">

                {# Flash alerts displays #}
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {{ form_errors(contactForm) }}
                
                {{ form_start(contactForm) }}
                    <!-- Form Message -->
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-success contact__msg" style="display: none"
                                role="alert">
                                Your message was sent successfully.
                            </div>
                        </div>
                    </div> <!-- Form Message End -->
                    <!-- Form Element -->
                    <div class="form_input_box">
                        {{ form_row(contactForm.name, {'label': false})}}
                    </div>
                    <div class="form_input_box">
                        {{ form_row(contactForm.email, {'label': false})}}
                    </div>
                    <div class="form_input_box">
                        {{ form_row(contactForm.subject, {'label': false})}}
                    </div>
                    <div class="form_input_box">
                        {{ form_row(contactForm.message, {'label': false})}}
                    </div>

                    <button class="form-submit-btn pointer-href" name="submit" type="submit">Send Message</button>
                    <!-- Form Element End -->
                {{ form_end(contactForm) }}

            </div> 
            <!-- Contact Form End -->
        </div>
        <div class="col-xl-6 col-lg-6">
            <div id="map">
            <iframe class="position-relative rounded w-100 h-100"
                    src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3956.9121053278377!2d3.883514!3d7.363748999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zN8KwMjEnNDkuNSJOIDPCsDUzJzAwLjciRQ!5e0!3m2!1sen!2sng!4v1696080345397!5m2!1sen!2sng"
                    frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0">
            </iframe>
            </div>
        </div>
    </div>
</main> 
<!-- Single page end -->

{% endblock %}

