{% extends '@frontend/base.html.twig' %}

{% block title %}My Blog!{% endblock %}

{% block body %}

<!-- Single Page -->
<main class="single-page">
    <!-- Page Header -->
    <div class="page-header">
        <h2>.<span>blog</span></h2>
        <p>Welcome to my digital space where technology meets creativity! Join me on a journey 
        through the latest trends in web development, programming insights, and my experiences in 
        the tech world. From coding adventures to design inspirations, I'm excited to share my 
        passion for innovation and problem-solving. Let's explore the ever-evolving landscape of 
        technology together. Happy reading!</p>                
    </div> <!-- Page Header End -->
    <div class="separator"></div>
    <div class="blog-wrapper">                    
        <div class="row grid-3">
            <!-- Blog Single Container -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 grid-item-3">
                <div class="newsfeed-container">
                    <div class="newsfeed-image">
                        <img src="{{ asset("frontend/img/blog/blog-grid/1.jpg") }}" alt="blog image">
                        <div class="date-box">
                            <span>28 JUN 2019</span>
                        </div>
                    </div>
                    <div class="newsfeed-wrap">
                        <div class="newsfeed-header">
                            <a href="#" class="newsfeed-tag pointer-small"><i class="fas fa-tag"></i> Branding</a>
                            <a href="#" class="newsfeed-user pointer-small"><i class="fas fa-user"></i> Admin</a>                                
                        </div>
                        <div class="newsfeed-content">
                            <h4><a href="/blog-detail" class="pointer-href">It’s time to show yourself as a best in world!</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing Ut magna neque, pulvinar in orci in, pellentesque consequat tellus.
                            </p>
                        </div>
                        <div class="blog-btn">
                            <a href="/blog-detail" class="pointer-href">Read More</a>
                        </div>
                    </div>
                </div>
            </div> <!-- Blog Single Container End -->
            <!-- Blog Single Container -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 grid-item-3">
                <div class="newsfeed-container">
                    <div class="newsfeed-image">
                        <img src="{{ asset("frontend/img/blog/blog-grid/2.jpg") }}" alt="blog image">
                        <div class="date-box">
                            <span>28 JUN 2019</span>
                        </div>
                    </div>
                    <div class="newsfeed-wrap">
                        <div class="newsfeed-header">
                            <a href="#" class="newsfeed-tag pointer-small"><i class="fas fa-tag"></i> Branding</a>
                            <a href="#" class="newsfeed-user pointer-small"><i class="fas fa-user"></i> Admin</a>                                
                        </div>
                        <div class="newsfeed-content">
                            <h4><a href="blog-details.html" class="pointer-href">It’s time to show yourself as a best in world!</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing Ut magna neque, pulvinar in orci in, pellentesque consequat tellus.
                            </p>
                        </div>
                        <div class="blog-btn">
                            <a href="blog-details.html" class="pointer-href">Read More</a>
                        </div>
                    </div>
                </div>
            </div> <!-- Blog Single Container End -->
            <!-- Blog Single Container -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 grid-item-3">
                <div class="newsfeed-container">
                    <div class="newsfeed-image">
                        <img src="{{ asset("frontend/img/blog/blog-grid/3.jpg") }}" alt="blog image">
                        <div class="date-box">
                            <span>28 JUN 2019</span>
                        </div>
                    </div>
                    <div class="newsfeed-wrap">
                        <div class="newsfeed-header">
                            <a href="#" class="newsfeed-tag pointer-small"><i class="fas fa-tag"></i> Branding</a>
                            <a href="#" class="newsfeed-user pointer-small"><i class="fas fa-user"></i> Admin</a>                                
                        </div>
                        <div class="newsfeed-content">
                            <h4><a href="blog-details.html" class="pointer-href">It’s time to show yourself as a best in world!</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing Ut magna neque, pulvinar in orci in, pellentesque consequat tellus.
                            </p>
                        </div>
                        <div class="blog-btn">
                            <a href="blog-details.html" class="pointer-href">Read More</a>
                        </div>
                    </div>
                </div>
            </div> <!-- Blog Single Container End -->
            <!-- Blog Single Container -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 grid-item-3">
                <div class="newsfeed-container">
                    <div class="newsfeed-image">
                        <img src="{{ asset("frontend/img/blog/blog-grid/4.jpg") }}" alt="blog image">
                        <div class="date-box">
                            <span>28 JUN 2019</span>
                        </div>
                    </div>
                    <div class="newsfeed-wrap">
                        <div class="newsfeed-header">
                            <a href="#" class="newsfeed-tag pointer-small"><i class="fas fa-tag"></i> Branding</a>
                            <a href="#" class="newsfeed-user pointer-small"><i class="fas fa-user"></i> Admin</a>                                
                        </div>
                        <div class="newsfeed-content">
                            <h4><a href="blog-details.html" class="pointer-href">It’s time to show yourself as a best in world!</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing Ut magna neque, pulvinar in orci in, pellentesque consequat tellus.
                            </p>
                        </div>
                        <div class="blog-btn">
                            <a href="blog-details.html" class="pointer-href">Read More</a>
                        </div>
                    </div>
                </div>
            </div> <!-- Blog Single Container End -->
            <!-- Blog Single Container -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 grid-item-3">
                <div class="newsfeed-container">
                    <div class="newsfeed-image">
                        <img src="{{ asset("frontend/img/blog/blog-grid/5.jpg") }}" alt="blog image">
                        <div class="date-box">
                            <span>28 JUN 2019</span>
                        </div>
                    </div>
                    <div class="newsfeed-wrap">
                        <div class="newsfeed-header">
                            <a href="#" class="newsfeed-tag pointer-small"><i class="fas fa-tag"></i> Branding</a>
                            <a href="#" class="newsfeed-user pointer-small"><i class="fas fa-user"></i> Admin</a>                                
                        </div>
                        <div class="newsfeed-content">
                            <h4><a href="blog-details.html" class="pointer-href">It’s time to show yourself as a best in world!</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing Ut magna neque, pulvinar in orci in, pellentesque consequat tellus.
                            </p>
                        </div>
                        <div class="blog-btn">
                            <a href="blog-details.html" class="pointer-href">Read More</a>
                        </div>
                    </div>
                </div>
            </div> <!-- Blog Single Container End -->
            <!-- Blog Single Container -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 grid-item-3">
                <div class="newsfeed-container">
                    <div class="newsfeed-image">
                        <img src="{{ asset("frontend/img/blog/blog-grid/6.jpg") }}" alt="blog image">
                        <div class="date-box">
                            <span>28 JUN 2019</span>
                        </div>
                    </div>
                    <div class="newsfeed-wrap">
                        <div class="newsfeed-header">
                            <a href="#" class="newsfeed-tag pointer-small"><i class="fas fa-tag"></i> Branding</a>
                            <a href="#" class="newsfeed-user pointer-small"><i class="fas fa-user"></i> Admin</a>                                
                        </div>
                        <div class="newsfeed-content">
                            <h4><a href="blog-details.html" class="pointer-href">It’s time to show yourself as a best in world!</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing Ut magna neque, pulvinar in orci in, pellentesque consequat tellus.
                            </p>
                        </div>
                        <div class="blog-btn">
                            <a href="blog-details.html" class="pointer-href">Read More</a>
                        </div>
                    </div>
                </div>
            </div> <!-- Blog Single Container End -->
            <!-- Blog Single Container -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 grid-item-3">
                <div class="newsfeed-container">
                    <div class="newsfeed-image">
                        <img src="{{ asset("frontend/img/blog/blog-grid/7.jpg") }}" alt="blog image">
                        <div class="date-box">
                            <span>28 JUN 2019</span>
                        </div>
                    </div>
                    <div class="newsfeed-wrap">
                        <div class="newsfeed-header">
                            <a href="#" class="newsfeed-tag pointer-small"><i class="fas fa-tag"></i> Branding</a>
                            <a href="#" class="newsfeed-user pointer-small"><i class="fas fa-user"></i> Admin</a>                                
                        </div>
                        <div class="newsfeed-content">
                            <h4><a href="blog-details.html" class="pointer-href">It’s time to show yourself as a best in world!</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing Ut magna neque, pulvinar in orci in, pellentesque consequat tellus.
                            </p>
                        </div>
                        <div class="blog-btn">
                            <a href="blog-details.html" class="pointer-href">Read More</a>
                        </div>
                    </div>
                </div>
            </div> <!-- Blog Single Container End -->
            <!-- Blog Single Container -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 grid-item-3">
                <div class="newsfeed-container">
                    <div class="newsfeed-image">
                        <img src="{{ asset("frontend/img/blog/blog-grid/8.jpg") }}" alt="blog image">
                        <div class="date-box">
                            <span>28 JUN 2019</span>
                        </div>
                    </div>
                    <div class="newsfeed-wrap">
                        <div class="newsfeed-header">
                            <a href="#" class="newsfeed-tag pointer-small"><i class="fas fa-tag"></i> Branding</a>
                            <a href="#" class="newsfeed-user pointer-small"><i class="fas fa-user"></i> Admin</a>                                
                        </div>
                        <div class="newsfeed-content">
                            <h4><a href="blog-details.html" class="pointer-href">It’s time to show yourself as a best in world!</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing Ut magna neque, pulvinar in orci in, pellentesque consequat tellus.
                            </p>
                        </div>
                        <div class="blog-btn">
                            <a href="blog-details.html" class="pointer-href">Read More</a>
                        </div>
                    </div>
                </div>
            </div> <!-- Blog Single Container End -->
            <!-- Blog Single Container -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 grid-item-3">
                <div class="newsfeed-container">
                    <div class="newsfeed-image">
                        <img src="{{ asset("frontend/img/blog/blog-grid/9.jpg") }}" alt="blog image">
                        <div class="date-box">
                            <span>28 JUN 2019</span>
                        </div>
                    </div>
                    <div class="newsfeed-wrap">
                        <div class="newsfeed-header">
                            <a href="#" class="newsfeed-tag pointer-small"><i class="fas fa-tag"></i> Branding</a>
                            <a href="#" class="newsfeed-user pointer-small"><i class="fas fa-user"></i> Admin</a>                                
                        </div>
                        <div class="newsfeed-content">
                            <h4><a href="blog-details.html" class="pointer-href">It’s time to show yourself as a best in world!</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing Ut magna neque, pulvinar in orci in, pellentesque consequat tellus.
                            </p>
                        </div>
                        <div class="blog-btn">
                            <a href="blog-details.html" class="pointer-href">Read More</a>
                        </div>
                    </div>
                </div>
            </div> <!-- Blog Single Container End -->
        </div>
        <!-- Pagination -->
        <div class="pagination-block">
            <nav>
                <ul>
                    <li><a href="#" class="pointer-href"><i class="fas fa-chevron-left"></i> Prev</a></li>
                    <li><a href="#" class="pointer-href">1</a></li>
                    <li><a href="#" class="active pointer-href">2</a></li>
                    <li><a href="#" class="pointer-href">3</a></li>
                    <li><a href="#" class="pointer-href">4</a></li>
                    <li><a href="#" class="pointer-href">Next <i class="fas fa-chevron-right"></i></a></li>
                </ul>
            </nav>
        </div> 
        <!-- Pagination End -->
    </div>
</main> 
<!-- Single page end -->

{% endblock %}
