{% extends '@frontend/base.html.twig' %}

{% block title %}My Blog!{% endblock %}

{% block body %}

<!-- Single Page -->
<main class="single-page">
    <!-- Page Header -->
    <div class="page-header">
        <h2>.<span>blog</span></h2>
        <p>Welcome to my digital space where technology meets creativity! Join me on a journey 
        through the latest trends in web development, programming insights, and my experiences in 
        the tech world. From coding adventures to design inspirations, I'm excited to share my 
        passion for innovation and problem-solving. Let's explore the ever-evolving landscape of 
        technology together. Happy reading!</p>                
    </div> <!-- Page Header End -->
    <div class="separator"></div>
    <div class="blog-wrapper">                    
        <div class="row grid-3">

        {% if blogs|length > 0 %}
            {% for blog in blogs %}
            <!-- Blog Single Container -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 grid-item-3">
                <div class="newsfeed-container">
                    <div class="newsfeed-image">
                        <img src="{{ blog.image }}" alt="blog image">
                        <div class="date-box">
                            <span>{{ blog.created_at|date('d-m-Y')}}</span>
                        </div>
                    </div>
                    <div class="newsfeed-wrap">
                        <div class="newsfeed-header">
                            <a href="#" class="newsfeed-tag pointer-small"><i class="fas fa-tag"></i> {{ blog.brand }}</a>
                            <a href="https://linkedin.com/in/alexander-nwokorie" class="newsfeed-user pointer-small" target="_blank">
                            <i class="fas fa-user"></i> {{ blog.author }}
                            </a>                                
                        </div>
                        <div class="newsfeed-content">
                            <h4><a href="/blog-detail/{{ blog.id }}" class="pointer-href">{{ blog.title }}</a></h4>
                            <p></p>
                        </div>
                        <div class="blog-btn">
                            <a href="/blog-detail/{{ blog.id }}" class="pointer-href">Read More</a>
                        </div>
                    </div>
                </div>
            </div> 
            <!-- Blog Single Container End -->
            {% endfor %}
            {% else %}
                <p>No blog found.</p>
        {% endif %}

        </div>
        <!-- Pagination -->
        <div class="pagination-block">
            <nav>
                <ul>
                    <li><a href="#" class="pointer-href"><i class="fas fa-chevron-left"></i> Prev</a></li>
                    <li><a href="#" class="pointer-href">1</a></li>
                    <li><a href="#" class="active pointer-href">2</a></li>
                    <li><a href="#" class="pointer-href">3</a></li>
                    <li><a href="#" class="pointer-href">4</a></li>
                    <li><a href="#" class="pointer-href">Next <i class="fas fa-chevron-right"></i></a></li>
                </ul>
            </nav>
        </div> 
        <!-- Pagination End -->
    </div>
</main> 
<!-- Single page end -->

{% endblock %}
