{% extends '@frontend/base.html.twig' %}

{% block title %}My Portfolio Details!{% endblock %}

{% block body %}
 
<!-- Single Page -->
<main class="single-page">
    <!-- Page Header -->
    <div class="page-header">
        <h2><a href="/portfolio" class="pointer-large">.<span>portfolio</span></a>
            <span>.</span>details</h2>
        <p>
        Dive into the technical intricacies, explore the requirements, and discover the languages 
        and tools utilized in bringing this vision to life. From the initial concept to the final 
        implementation, this page serves as a comprehensive guide to the skills and technologies 
        employed. Feel free to explore, and should you have any questions or feedback, don't hesitate 
        to reach out. Let's delve into the details of innovation and problem-solving.
        </p>
    </div> <!-- Page Header End -->
    <div class="separator"></div>
    <div class="portfolio-details-wrapper">
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div class="details-content-left">
                    <!-- Project Short Info -->
                    <div class="project-info clearfix mb-20">
                        <div class="project-head-thumb">
                            <img src="{{ asset("frontend/img/portfolio/portfolio-details/thumb-big.png") }}" alt="project thumb">
                        </div>
                        <div class="project-overview">
                            <ul>
                                <li>Date created :<a href="#" class="pointer-small"> 9 July 2019</a></li>
                                <li>Client :<a href="#" class="pointer-small"> XenMark Inc.</a></li>
                                <li>Web :<a href="#" class="pointer-small"> www.xenmark.com</a></li>
                                <li>Category :<a href="#" class="pointer-small"> Branding</a></li>
                            </ul>
                        </div>
                    </div> 
                    <!-- Project Short Info End -->
                    <!-- Project Body -->
                    <div class="project-body">
                        <h3 class="theme-color">We make a beautiful world for peace and easy life</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut magna neque, pulvinar in orci
                            in, pellentesque consequat tellus. Fusce mauris massa, pellentesque nec augue at,
                            hendrerit rutrum ex. Cras venenatis vulputate nisi ut elementum. Ut ac mi a ex convallis
                            luctus.</p>
                        <!-- Project Video -->
                        <div class="body-feature-video text-center">
                            <a href="https://www.youtube.com/watch?v=aqz-KE-bpKQ" class="popup_video pointer-large"><i class="fas fa-play"></i></a>
                        </div> <!-- Project Video End -->
                        <div class="body-highlight">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut magna neque, pulvinar in
                                orci in, pellentesque consequat tellus. Fusce mauris massa.</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut magna neque, pulvinar in orci
                            in, pellentesque consequat tellus. Fusce mauris massa, pellentesque nec augue at,
                            hendrerit rutrum ex. Cras venenatis vulputate nisi ut elementum.</p>
                        <!-- Portfolio Feature Image -->
                        <div class="portfolio-feature-image">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="feature-single-image text-center">
                                        <img src="{{ asset("frontend/img/portfolio/portfolio-details/1.jpg") }}" alt="portfolio image">
                                        <div class="portfolio-popup-block">
                                            <a href="{{ asset("frontend/img/portfolio/portfolio-details/1.jpg") }}" class="portfolio_feature_popup pointer-open"><i class="fas fa-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="feature-single-image text-center">
                                        <img src="{{ asset("frontend/img/portfolio/portfolio-details/3.jpg") }}" alt="portfolio image">
                                        <div class="portfolio-popup-block">
                                            <a href="{{ asset("frontend/img/portfolio/portfolio-details/3.jpg") }}" class="portfolio_feature_popup pointer-open"><i class="fas fa-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- Portfolio Feature Image End -->
                        <!-- Tags -->
                        <div class="body-tags">
                            <h6 class="body-font">TAGS:</h6>
                            <div class="tag-keywords">
                                <a href="#" class="pointer-small">branding</a>
                                <a href="#" class="pointer-small">graphic-design</a>
                                <a href="#" class="pointer-small">mockup</a>
                            </div>
                        </div> <!-- Tags End -->
                    </div> <!-- Project Body End -->
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="details-content-right">
                    <!-- Recent Posts -->
                    <div class="recent-posts subtitle mb-70">
                        <h3 class="mb-40">.<span>recent</span> posts</h3>
                        <ul>
                            <li>
                                <a href="#" class="pointer-href">
                                    <div class="single-post clearfix">
                                        <div class="post-thumb">
                                            <img src="{{ asset("frontend/img/blog/blog-details/sidebar-thumb/1.jpg") }}" alt="post thumb">
                                        </div>
                                        <div class="post-content">
                                            <h5 class="body-font">Together we can make a difference</h5>
                                            <span><i class="fas fa-calendar-alt"></i> 9 June 2019</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pointer-href">
                                    <div class="single-post clearfix">
                                        <div class="post-thumb">
                                            <img src="{{ asset("frontend/img/blog/blog-details/sidebar-thumb/2.jpg") }}" alt="post thumb">
                                        </div>
                                        <div class="post-content">
                                            <h5 class="body-font">We can work together for future</h5>
                                            <span><i class="fas fa-calendar-alt"></i> 9 June 2019</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pointer-href">
                                    <div class="single-post clearfix">
                                        <div class="post-thumb">
                                            <img src="{{ asset("frontend/img/blog/blog-details/sidebar-thumb/3.jpg") }}" alt="post thumb">
                                        </div>
                                        <div class="post-content">
                                            <h5 class="body-font">It’s time to show as a best in world!</h5>
                                            <span><i class="fas fa-calendar-alt"></i> 9 June 2019</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div> 
                    <!-- Recent Posts End -->
                </div>
            </div>
        </div>
    </div>
</main> 
<!-- Single page end -->

{% endblock %}

