{% extends '@frontend/base.html.twig' %}

{% block title %}About Me!{% endblock %}

{% block body %}

<!-- Single Page -->
<main class="single-page">
    <!-- Page Header -->
    <div class="page-header">
        <h2>.<span>about</span></h2>
        <p>
        Experienced backend developer with a 2+ years track record in solving complex challenges. 
        Proven in delivering high-impact solutions and boosting team productivity by 15% through 
        effective knowledge transfer and empowerment.
        </p>
        <div class="template-btn">
            <a href="/contact" class="pointer-href">Hire me</a>
            <a href="{{ asset('resume.pdf') }}" class="pointer-href">Download CV</a>
        </div>
    </div> 
    <!-- Page Header End -->
    <div class="separator"></div>
    <!-- Services -->
    <div class="my-services subtitle">
        <h3 class="mb-40">.<span>my</span> services</h3>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="single-service text-center">
                    <div class="service-content">
                        <div class="service-icon">
                            <i class="fas fa-laptop-code"></i>
                        </div>
                        <h4 class="body-font">Web Design</h4>
                        <p>I have notable proficiency in CMS, particularly WordPress, from 2018 till present.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="single-service text-center">
                    <div class="service-content">
                        <div class="service-icon">
                            <i class="fab fa-evernote"></i>
                        </div>
                        <h4 class="body-font">Web Develop</h4>
                        <p>I build customed server-side web applications from scratch, based on client's needs.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="single-service text-center">
                    <div class="service-content">
                        <div class="service-icon">
                            <i class="fas fa-anchor"></i>
                        </div>
                        <h4 class="body-font">API Develop</h4>
                        <p>I develop API applications to better enhance the functionality of clients' web applications.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="single-service text-center">
                    <div class="service-content">
                        <div class="service-icon">
                            <i class="fas fa-book"></i>
                        </div>
                        <h4 class="body-font">Tutoring</h4>
                        <p>Proactive team player who have exceled in people management, tutoring and mentoring others.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="single-service text-center">
                    <div class="service-content">
                        <div class="service-icon">
                            <i class="fas fa-chess"></i>
                        </div>
                        <h4 class="body-font">Brand Ambassador</h4>
                        <p>I am available to serve as a brand ambassador for your tech company.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="single-service text-center">
                    <div class="service-content">
                        <div class="service-icon">
                            <i class="fas fa-globe"></i>
                        </div>
                        <h4 class="body-font">Researcher</h4>
                        <p>I analyze technology trends in the market, evaluate competitors and industry developments.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- Services End -->        
    <!-- Funfact Area -->
    <div class="fun-fact">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="funfact funfact-mb text-center">
                    <h3 class="counter">10</h3>
                    <span class="title">Happy Clients</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="funfact funfact-mb text-center">
                    <h3 class="counter">35</h3>
                    <span class="title">Projects Done</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="funfact text-center">
                    <h3 class="counter">2</h3>
                    <span class="title">Got Awards</span>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="funfact text-center">
                    <h3 class="counter percent">3</h3>
                    <span class="title">Tech Meetups</span>
                </div>
            </div>
        </div>
    </div> <!-- Funfact Area End -->
    <!-- Pricing Area -->
    <div class="pricing subtitle mb-70">
        <h3 class="mb-40">.<span>contract price</span> list</h3>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="pricing-box text-center mb-30">
                    <div class="pricing-plan">
                        <h4>Basic</h4>
                    </div>
                    <div class="pricing-price">
                        <h3>
                            <small>$</small>199.<span>99</span>
                        </h3>
                    </div>
                    <div class="service-list">
                        <ul>
                            <li><i class="fas fa-laptop-code"></i>1-3 Webpage(s)</li>
                            <li><i class="fab fa-evernote"></i>6-Month Maintenance</li>
                            <li><i class="fas fa-anchor"></i> Free Domain/Hosting</li>
                        </ul>
                    </div>
                    <div class="get-started">
                        <a href="/contact">Reach Me<i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="pricing-box text-center mb-30">
                    <div class="pricing-plan">
                        <h4>Standard</h4>
                    </div>
                    <div class="pricing-price">
                        <h3>
                            <small>$</small>349.<span>99</span>
                        </h3>
                    </div>
                    <div class="service-list">
                        <ul>
                            <li><i class="fas fa-laptop-code"></i>Multi Webpages</li>
                            <li><i class="fab fa-evernote"></i>Web Design/WordPress</li>
                            <li><i class="fas fa-drafting-compass"></i>Free Themes/Plugins</li>
                            <li><i class="fas fa-anchor"></i>Free Domain/Hosting</li>
                            <li><i class="fas fa-share-alt"></i>6-Month Maintenance</li>
                        </ul>
                    </div>
                    <div class="get-started">
                        <a href="/contact">Reach Me<i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="pricing-box text-center mb-30">
                    <div class="pricing-plan">
                        <h4>Premium</h4>
                    </div>
                    <div class="pricing-price">
                        <h3>
                            <small>$</small>549.<span>99</span>
                        </h3>
                    </div>
                    <div class="service-list">
                        <ul>
                            <li><i class="fas fa-laptop-code"></i>Multi Webpages</li>
                            <li><i class="fas fa-chess"></i>Built from Scratch</li>
                            <li><i class="fab fa-evernote"></i>Custom Integrations</li>
                            <li><i class="fas fa-drafting-compass"></i>Custom Admin Panels</li>
                            <li><i class="fas fa-anchor"></i>Free Domain/Hosting</li>
                            <li><i class="fas fa-share-alt"></i>6-Month Maintenance</li> 
                        </ul>
                    </div>
                    <div class="get-started">
                        <a href="#">Reach Me<i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- Pricing Area End -->        
    <!-- Clients Testimonial -->
    <div class="clients-testimonial subtitle">
        <h3 class="mb-40">.<span>cool</span> testimonials</h3>
        <div class="clients-testimonial-active owl-carousel">

        {% if testimonials|length > 0 %}
            {% for testimonial in testimonials %}
                <div class="single-testimonials">
                    <div class="client-image">
                        <img src="{{ testimonial.image }}" alt="clients">
                    </div>
                    <div class="feedback-text">
                        <p class="client-feedback">{{ testimonial.comment }}</p>
                        
                        <p class="client-name">{{ testimonial.name }}, <span>{{ testimonial.position }}</span></p>
                        <center>
                        <a href="{{ testimonial.linkedin }}" class="pointer-href" target="_blank"><p><i class="fab fa-linkedin-in"></i></p></a>
                        </center>

                    </div>
                </div>
            {% endfor %}
            {% else %}
                <p>No testimonials found.</p>
        {% endif %}
           
        </div>            
    </div> 
    <!-- Clients Testimonial End -->
    <!-- Logo Carousel -->
    <div class="clients-logo-carousel owl-carousel text-center">
        <img src="{{ asset("frontend/img/clients/web.png") }}" alt="logo">
        <img src="{{ asset("frontend/img/clients/bootstrap.png") }}" alt="logo">
        <img src="{{ asset("frontend/img/clients/php.png") }}" alt="logo">
        <img src="{{ asset("frontend/img/clients/laravel.png") }}" alt="logo">
        <img src="{{ asset("frontend/img/clients/symfony.png") }}" alt="logo">
        <img src="{{ asset("frontend/img/clients/1.png") }}" alt="logo">
        <img src="{{ asset("frontend/img/clients/4.png") }}" alt="logo">
    </div> 
    <!-- Logo Carousel End -->
</main> 
<!-- Single page end -->


{% endblock %}