{% extends '@backend/base.html.twig' %}

{% block title %}Mail - Admin Panel!{% endblock %}

{% block body %}

<!-- begin app-main -->
<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->
        <div class="row">
            <div class="col-md-12 m-b-30">
                <!-- begin page title -->
                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                    <div class="page-title mb-2 mb-sm-0">
                        <h1>Mails</h1>
                    </div>
                    <div class="ml-auto d-flex align-items-center">
                        <nav>
                            <ol class="breadcrumb p-0 m-b-0">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('app_dashboard') }}"><i class="ti ti-home"></i></a>
                                </li>
                                <li class="breadcrumb-item active text-primary" aria-current="page">Mail</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end page title -->
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-xxl-4 m-b-30">
                <div class="card card-statistics h-100 mb-0 widget-recent-list">
                    <div class="card-header">
                        <div class="card-heading">
                            <h4 class="card-title">Recent Mails Received</h4>
                        </div>
                    </div>

                    {# Flash alerts displays #}
                    {% for type, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% if mails|length > 0 %}
                        {% for mail in mails %}

                            <div class="card-body">
                                <div class="media">
                                    <div class="dot-online">
                                        <div class="bg-img mr-2">
                                            <img class="img-fluid" src="{{ asset("backend/assets/img/avtar/01.jpg") }}" alt="listwidget-img">
                                        </div>
                                    </div>
                                    <div class="media-body ml-2">
                                        <div class="d-flex justify-content-between">
                                            <h4 class="mb-0">{{ mail.name }}</h4>
                                            <span>{{ mail.created_at|date('Y-m-d H:i:s') }}</span>
                                        </div>
                                        <p>{{ mail.email }}</p>
                                        <p>{{ mail.subject }}</p>
                                        <p>{{ mail.message }}</p>
                                        <div>
                                            <ul class="nav align-items-center">
                                                <li class="nav-item">
                                                    <a href="/admin/mail/delete/{{ mail.id }}" class="btn btn-icon btn-outline-danger nav-link btn-round"><i class="ti ti-close"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    {% else %}
                        <p>No mail found.</p>
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</div>
<!-- end app-main -->

{% endblock %}
